.page-header
  = image_tag @user.avatar_url(50), alt: @user.name, class: 'user-avatar', width: 50, height: 50
  %h1
    = @user.name
    %small
      %span.label.label-info Admin

= simple_format @user.description, class: 'well'