You will need to define a function named <strong>decide(opponent_moves)</strong> that accepts a parameter of type list which contains your opponent's previous moves.

def decide(opponent_moves):
    # Current iteration
    len(opponent_moves)

    # Opponent's last move
    if len(opponent_moves) > 1:
        opponent_moves[-1]

    # Opponent's second last move
    opponent_moves[-2]

Python builtins
---------------
abs, all, any, bin, bool, bytearray, bytes, chr, complex, delattr, dict, dir, divmod, enumerate, filter, float, format, frozenset, getattr, hasattr, hash, hex, id, int, isinstance, len, list, map, max, min, oct, open, ord, pow, property, range, repr, reversed, round, set, setattr, slice, sorted, str, sum, tuple, type, zip

Python math symbols
-------------------
acos, acosh, asin, asinh, atan, atan2, atanh, ceil, copysign, cos, cosh, degrees, e, exp, fabs, factorial, floor, fmod, frexp, fsum, hypot, isinf, isnan, ldexp, log, log10, log1p, modf, pi, pow, radians, sin, sinh, sqrt, tan, tanh, trunc

Numpy symbols (from numpy import *)
-----------------------------------
<a href="http://docs.scipy.org/doc/numpy/reference/routines.random.html" target="_blank">random.randint</a>